:root {
  // Color
  --color-principal-snp : #00B3FF;
  
  // Text-color
  --color-noir-snp : #000000; 
  --color-gris-snp: #4E4E4E; 
  --color-blanc-snp : #FFFFFF; 
  --color-gris-pale-snp : #C2C2C2;
  --color-blanc-fonce-snp : #E8E8E8;

  // Font size
  --font-size-default-snp : 1rem;
  --font-size-g : 3rem;

  //spacing
  --spacing-base : 1rem;
}
