<footer class="footer wrapper">
  <div class="region-container">
    <div class="region-title-wrapper">
      <h2 class="region-title"></h2>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- slides dynamiques -->
      </div>
    </div>
  </div>
  <div class="footer-container wrapper">
    <div class="footer-section logo-newsletter">
      <img
        src="/assets/img/footer/logo-moyen.png"
        alt="Logo Solution Net Plus"
        class="logo"
      />
      <div>
        <p>
          <strong data-lang="footer.newsletter_title"></strong>
        </p>
        <form class="newsletter-form" id="newsletterForm">
          <label for="email" class="visually-hidden"></label>
          <input type="email" id="email" name="email" required />
          <button
            type="submit"
            class="arrow-button"
            data-lang="footer.newsletter_button"
          ></button>
        </form>
        <div id="message"></div>
      </div>
    </div>
    <div class="footer-section navigation">
      <div>
        <h3 data-lang="footer.navigation_title"></h3>
        <ul>
          <li>
            <a href="/" data-lang="footer.navigation_home" class="active"></a>
          </li>
          <li>
            <a href="/contact" data-lang="footer.navigation_contact"></a>
          </li>
          <li>
            <a href="/services" data-lang="footer.navigation_services"></a>
          </li>
          <li>
            <a href="/blog" data-lang="footer.navigation_blog"></a>
          </li>
        </ul>
      </div>
      <a
        href="/appointment"
        class="contact"
        data-lang="footer.navigation_rendez_vous"
      ></a>
    </div>
    <div class="footer-section contact-info">
      <h3 data-lang="footer.contact_title"></h3>
      <p>
        <strong data-lang="footer.contact_head_office"></strong>
      </p>
      <a
        href="https://www.google.com/maps/search/?api=1&query=892+Rue+de+la+Pommeraie,+Saint-Rémi,+QC+J0L+2L0"
        target="_blank"
        rel="noopener noreferrer"
      >
        <small>
          892 Rue de la Pommeraie,<br />
          Saint-Rémi, QC J0L 2L0
        </small>
      </a>

      <p>
        <strong data-lang="footer.contact_phone"></strong>
      </p>
      <small>
        <a href="tel:+14388331000" data-lang="footer.contact_phone_number"
          >1 (438) 833-1000</a
        >
      </small>

      <p><strong data-lang="footer.contact_email"></strong></p>
      <small>
        <a href="mailto:solutionnetplus@gmail.com">solutionnetplus@gmail.com</a>
      </small>
    </div>
    <div class="footer-section">
      <h3 data-lang="footer.accreditations_title" class="paiement-title"></h3>
      <div class="paiement">
        <div class="modes-paiement">
          <img src="/assets/img/footer/debit.png" alt="Logo debit" />
          <img src="/assets/img/footer/visa.png" alt="Logo Visa" />
          <img src="/assets/img/footer/Mastercard.svg" alt="Logo Mastercard" />
        </div>
        <div class="social-icons">
          <a href="https://www.tiktok.com/@solutionnetplus" target="_blank">
            <img
              class="tiktok"
              src="/assets/img/icon/icon-social-tiktok.svg"
              alt="Icon du TikTok"
              data-lang="footer.social_icons_tiktok"
            />
          </a>
          <a href="https://www.youtube.com/@solutionnetplus/" target="_blank">
            <img
              src="/assets/img/icon/icon-social-Youtube.svg"
              alt="Icon du YouTube"
              data-lang="footer.social_icons_youtube"
            />
          </a>
          <a href="https://www.facebook.com/SolutionNetPlus" target="_blank">
            <img
              src="/assets/img/icon/icon-social-Facebook.svg"
              alt="Icon du Facebook"
              data-lang="footer.social_icons_facebook"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom wrapper">
    <small data-lang="footer.bottom_rights"></small>
    <small data-lang="footer.bottom_credit"></small>
  </div>
</footer>
<!-- Scripts -->
<script src="/js/navigation.js" defer></script>
<script src="/js/newsletters.js" defer></script>
<script src="/js/traduction/ChangeLangue.js" defer></script>
