<header class="header wrapper">
  <div class="header-content">
    <div class="header-mobile">
      <div class="logo">
        <a href="/">
          <img
            src="/assets/img/logo/logo-petit.svg"
            alt="Logo Solution Net Plus"
          />
        </a>
      </div>
      <button class="menu-hamburguer" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <nav>
      <div class="nav-ul">
        <ul>
          <div class="invisible">
            <li class="contact-link-mobile contact-link">
              <a
                href="/appointment"
                data-lang="footer.navigation_rendez_vous"
              ></a>
            </li>
          </div>
          <li>
            <a id="lien1" href="/" data-lang="header.home" class="active"
              >Accueil</a
            >
          </li>
          <li>
            <a id="lien2" href="/services" data-lang="header.services"
              >Services</a
            >
          </li>
          <li>
            <a id="lien3" href="/blog" data-lang="header.blog">Blog</a>
          </li>
          <li>
            <a id="lien4" href="/contact" data-lang="header.contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="header-actions">
    <div class="header-bnt-action">
      <div class="lang-buttons">
        <button id="lang-fr" class="lang-button">FR</button>
        <button id="lang-en" class="lang-button">EN</button>
      </div>
      <div class="icons">
        <a
          href="https://www.tiktok.com/@solutionnetplus"
          target="_blank"
          aria-label="TikTok"
        >
          <img
            src="/assets/img/icon/icon-social-tiktok.svg"
            alt=" logo TikTok"
          />
        </a>
        <a href="https://www.youtube.com/@solutionnetplus" target="_blank" aria-label="YouTube">
          <img
            src="/assets/img/icon/icon-social-Youtube.svg"
            alt=" logo YouTube"
          />
        </a>
        <a
          href="https://www.facebook.com/SolutionNetPlus"
          target="_blank"
          aria-label="Facebook"
        >
          <img
            src="/assets/img/icon/icon-social-Facebook.svg"
            alt=" logo Facebook"
          />
        </a>
      </div>
    </div>

    <div class="contact-link">
      <a href="/appointment" data-lang="footer.navigation_rendez_vous"
        >Prendre rendez-vous</a
      >
    </div>
  </div>
</header>
<script src="/js/menu.js" defer></script>
<script src="/js/traduction/ChangeLangue.js" defer></script>
